.panel
  = form_for @offer do |f|
    .errors
      - @offer.errors.full_messages.each do |msg|
        %div= msg
    .field
      = f.label :uid
      = f.text_field :uid
    .field
      = f.label :pub0
      = f.text_field :pub0
    .field
      = f.label :page
      = f.text_field :page
    .field{ style: 'margin-bottom: 20px;' }
      = link_to 'Show/Hide Optional Fields', '#', class: 'show-hide-fields'
    .optional-fields{ style: 'display:none;'}
      .field
        = f.label :appid
        = f.text_field :appid
      .field
        = f.label :device_id
        = f.text_field :device_id
      .field
        = f.label :locale
        = f.text_field :locale
      .field
        = f.label :ip
        = f.text_field :ip
      .field
        = f.label :offer_types
        = f.text_field :offer_types
    .field
      = f.button 'Send Request', class: 'large button expand'
